<h1>notion OAuth 2.0 クライアントサンプル</h1>
  <p>
    <a href="<%= @login_url %>" role="button" id="connect-button">notionに接続</a>
  </p>

  <% if @access_token %>
    <p>notionと連携成功</p>
  <% else %>
    <a href="<%= @login_url %>" role="button" id="connect-button">notionに接続</a>
  <% end %>
